.Users {
  padding: 10px;
  margin-bottom: 10px;

  &__info {
    display: flex;
    flex-flow: wrap;
    width: 300px;
    a{
      color: #444444;
      text-decoration: none;
      transition: all .2s;
      &:hover{
        font-weight: 600;
        color: #000000;
      }
    }
  }

  &__text {
    margin: 0 10px;
  }
  &__nav{
    display: flex;
  }
}

.containerForm {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  &__form {
    display: flex;
    flex-flow: column;
  }

  &__button {
    margin-top: 30px !important;
  }

  &__input {
    margin-bottom: 10px !important;
  }

}
.errors{
  margin-top: 20px;
  &__item{
    margin-bottom: 10px
  }
}

.preloader{
  display: block !important;
  margin: 100px auto;
}

.DeleteButton{
  &__confirm{
    margin: 20px;
    visibility: unset;
  }
  &__button{
    margin: 0 5px !important;
  }
  &__text{
    padding-left: 5px;
  }
}

.UserInfo{
  max-width: 600px;
  margin: 50px auto;
  &__container{
    flex-flow: column;
  }
  &__avatar{
    width: 100px !important;
    height: 100px !important;
    font-size: 50px !important;
  }
  &__info{
    margin: 20px auto;
  }
}

.MenuBar{
  &__link{
    margin-right: 30px !important;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
}

.UpdateButton{
  margin-left: 10px !important;
}
.container{
  width: 400px !important;
  margin: 0 auto;
  padding-bottom: 30px;
  &__button{
    padding-left: 30px;
  }
}